In [12]:
import math
import statistics as stats
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('machine.csv')
data

   New machine  Old machine
0         42.1         42.7
1         41.0         43.6
2         41.3         43.8
3         41.8         43.3
4         42.4         42.5
5         42.8         43.5
6         43.2         43.1
7         42.3         41.7
8         41.8         44.0
9         42.7         44.1

In [3]:
data.shape

(10, 2)

In [4]:
from scipy.stats import ttest_ind

In [14]:
sample_mean = round(np.mean(data['Old machine']), 2)
pop_mean = round(np.mean(data['New machine']), 2)
pop_std = round(stats.stdev(data['New machine']), 2)
n = 10
sample_mean, pop_mean, pop_std

(43.23, 42.14, 0.68)

In [15]:
statistic = (sample_mean - pop_mean)/(pop_std/math.sqrt(n))
statistic

5.068945072916944